{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <div class="card card-body">
        <h2 class="display-1 text-center">Inicio</h2>
        <p>Está página tiene como propósito consolidar quejas y reclamos por los residentes del condominio Altos Del Alba 2 ubicado en calle La Quebrada 9651 comuna de Las Condes. El objetivo es poder aunar fuerzas pues es muy probable que su queja se vea repetida en otras unidades pero a causa de la actual desunión que vive nuestro condominio la Administración en su conjunto</p>
        <p>Para efectos de resguardar el anonimato de cada integrante está página no requiere que ingrese su dirección o nombre real aunque siempre dichos antecedentes entregan más fuerza a los respectivos reclamos.</p>
        <div class="text-center">
            <a class="btn btn-dark w-25" href="{% url 'signin' %}">Entrar</a>
            <a class="btn btn-secondary w-25" href="{% url 'signup' %}">Salir</a>
        </div>
    </div>
</main>
{% endblock %}