{% extends 'base.html' %}
{% block content %}
<main class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="container">
            <form class="card card-body" action="/signup/" method="POST">
                {% csrf_token %}
                {{error}}
                <h1 class="display-3 text-center">Registrarse</h1>
                <div class="mb-3">
                    <label for="username">Nombre: </label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password1">Contraseña: </label>
                    <input type="password" name="password1" id="password1" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password2">Confirmar Contraseña: </label>
                    <input type="password" name="password2" id="password2" class="form-control">
                </div>
                <button class="btn btn-info mt-1">Enviar</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}